# Docker environment variables for PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=musicgpt

# PRISMA
DATABASE_URL="postgresql://admin:admin@postgres:5432/musicgpt?schema=public"
# DATABASE_URL="postgresql://admin:admin@localhost:5432/musicgpt?schema=public"


# JWT
JWT_SECRET=UPX4Q6BEekop0rfogvpcZ0L0
JWT_REFRESH_SECRET=AEX4Q6BEekop0rfogvpier987
JWT_EXPIRES_IN=900 # 15 minutes in seconds
JWT_REFRESH_EXPIRES_IN=604800 # 7 days in seconds

# Throttle
DEFAULT_RATE_LIMIT=10
PAID_USER_RATE_LIMIT=1000
THROTTLE_BLOCK_DURATION_MS=60000 # 1 minute in milliseconds

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
